label {
    /* width: 10em; */
    display: block;
   /* float: left; */
}
input {
    width: 80px;
    margin-bottom: 8px;
}
button {
    width: 200px;
}
body {
    padding: 15px 5px;
    font-family: Verdana;
}
canvas {
    border: 1px solid #ccc;
}